body{
    margin:0;
}
.mar{
    background-color:red;
    color:black;
}
#uni{
    background-color:yellow;
}
header{
    display:flex;
    justify-content: space-between;
    background-color:#4c4c4c;
}
.logo{
    
    
    
}
.logo img{
    width:30%;
    margin:10px;
    margin-bottom:-2px;
   
}


ul li{
    display:inline-block;
    margin-right:20px;
    text-transform: capitalize;
    font-size:20px;
    color:rgb(202,202,202);
    font-weight:bold;
}
#join{
    width:100%;
    
    background-image: url(images/floral.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-color:#e88790;
    display:flex;
    flex-direction:column;
    padding-top:15px ;
    padding-bottom:15px;
    align-items: center;
    

   
  
    

}
#join h1{
    font-size:40px;
    font-weight: bolder;
}
#join p{
    text-align: center;
    
border-bottom:2px solid black;
border-top:2px solid black;
padding:20px 0;
margin-left :20px;
margin-right:20px;


}
#join button{
    padding:10px 50px;
    color:#e88790;
    background-color:#170d0e;
    font-size:20px;
    border:1px solid black;
    text-transform: capitalize;
}
#services {
    width:100%;
    
    background-image: url(images/floral.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-color:#e9e6e1;
    display:flex;
flex-direction: column;
padding-bottom:20px;



}
#services h4{
    text-align: center;
    font-family: 'Courgette', cursive;
    
}
#services #learn{
    
    display:flex;
    justify-content: space-evenly;
    
    
}

#html > figure{
    
    
    text-align: center;
}

#html figure i{

font-size:100px;
}
#services i:hover{
    transition: 1s;
color:red;
    
}


#css > figure{
    
    text-align: center;
}

#css figure i{
font-size:100px;
}
#java > figure{
    
    text-align: center;
}
#java figure i{
font-size:100px;
}
#portfolio{
    width:100%;
   background-image: url(images/floral.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-color:#ddceb4;
    
    
}
#portfolio .text{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#portfolio .text h4{
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    
}
#portfolio .text p{
    text-align: center;
    padding:20px;
    border-top:2px solid black;
    border-bottom:2px solid black;
    margin-left :20px;
margin-right:20px;

}
#portfolio #pattern{
    padding-top:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-template-rows:repeat(auto-fit, minmax(100px,1fr));
    justify-content: space-evenly;
    grid-row-gap: 15px;
    text-align: center;
    
    
    
}
#pattern figure{
    position:relative;
    border-radius: 10px;
    
    
    
}

#pattern figure img{
    
    

border-radius:20px;
   width:100%;
   
    
}

#pattern figure figcaption{
   opacity: 0;
   position: absolute;
   bottom:30%;
   left:22%;
  


}

figcaption h2{
    
  font-size:40px;
    color:white;
}
#pattern figure figcaption i{

padding:10px;
font-size:20px;

}
#pattern figure figcaption button{
    color:white;
    background-color:black;
    border-radius:50px;
    margin-left:2px;
    outline:none;
    transition: 1s;
}
#pattern figure:hover{
    background-color: black;
}
#pattern figure:hover img{
    opacity: 0.1;
}
#pattern figure:hover figcaption{
    opacity: 1;
}
#pattern figure figcaption button:hover{
color:black;
background-color:white;
cursor:pointer;
}
header .fas,.fa-bars{
    display:none;
}




@media all and (max-width:600px){
    #services #learn{
    
        flex-direction:column;
        align-items: center;
        
        
    }
    #pattern figure figcaption{
        
        bottom:10%;
        left:18%;
       
     
     
     }
     .main-nav{
         display:none;
     }
     header .fas,.fa-bars{
         display:block;
         font-size:30px;
         color:white;
         margin:20px;

     }

    

}

